<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head> 
    <title>Movies List </title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <h1> Movie List </h1>
    <table>
    	<tr>
    		<th>ID</th>
    		<th>Movie Name</th>
    		<th>Release Date</th>
    		<th>Image</th>
    		
    	</tr>
    	<tr th:each="movies: ${movies}" >
    		<td><span th:text="${movies.movieId}"></span></td>
    		<td th:text="${movies.movieName}"></td>
    		<td th:text="${movies.releaseDate}"></td>
    		  <tbody th:with="count=0">
        <tr th:each = "movie, hh : ${images}">           
                <td th:with="count=${count + 1}" th:text="${count}"></td>
     
                <td><img th:src="@{${'/list'+ movie.movie_id}}" 
                class="card img-fluid" style="width:300px" alt=""/></td>
    		
    	
    	</tr>
    </table>
    
</body>

</html>